body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: rgb(7, 50, 95);
  background-color: #07325f;
}

.search-form-box {
  margin: 25px auto;
  padding: 8px;
  max-width: 600px;
  background: rgb(0, 0, 0, 30%);
  border-radius: 5px;
}

input[type="search"]::placeholder {
  color: #ffffff;
}

input,
select,
textarea {
  color: #ffffff;
}

textarea:focus,
input:focus {
  color: #ffffff;
}

.search-form-city {
  width: 88%;
  padding: 15px;
  font-size: 15px;
  background: transparent;
  border: none;
}

.search-form-button {
  font-size: 34px;
  background: transparent;
  border: none;
  padding: 0;
  vertical-align: middle;
  width: 11%;
}

.search-form-button:hover {
  transition: all 100ms ease-in;
  cursor: pointer;
}

.weather-info-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.weather-info {
  background: rgb(0, 0, 0, 30%);
  margin: 15px auto;
  max-width: 600px;
  padding: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.current-data {
  text-align: center;
  color: #ffffff;
}

h1 {
  margin-bottom: 0;
}

h2 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

p {
  margin: 0 auto;
}

.current-temp-container {
  display: flex;
  justify-content: center;
  margin: 10px auto;
}

.current-temp {
  font-weight: 500;
  font-size: 75px;
}

.weather-app-unit {
  font-size: 20px;
  margin-top: 20px;
}

.emoji {
  font-size: 30px;
}

.weather-forecast {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 8px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
  text-align: center;
}

.weather-forecast-dates .weather-forecast-day {
  font-size: 15px;
}

.weather-forecast-icon {
  width: 60px;
  display: block;
  margin: 0 auto;
}

.weather-forecast-temperatures {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
}

.weather-forecast-temperatures-min {
  opacity: 0.6;
}

.footer {
  font-size: 10px;
  margin: 15px auto;
  max-width: 500px;
  color: #ffffff;
  padding: 0px;
  text-align: center;
}

a {
  color: #c3def9;
}

a:hover {
  color: #ffffff;
}
