body {
  background-image: url(img/Sunshine-sky.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    background-color: #C3DEF9;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  color: #07325f;
}

.search-form-box {
  background: rgb(255, 255, 255, 30%);
  margin: 25px auto;
  padding: 8px;
  max-width: 600px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.search-form-city {
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  width: 80%;
  padding: 15px;
  font-size: 15px;
}

.search-form-button {
  background: rgb(255, 255, 255, 0);
  border: none;
  border-radius: 5px;
  width: 19%;
  padding: 0;
  font-size: 25px;
}

.weather-info {
  background: rgb(255, 255, 255, 30%);
  margin: 15px auto;
  max-width: 600px;
  padding: 15px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.current-data {
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  font-style: italic;
}

.description-humidity {
  margin: 0 auto;
}

.current-temp {
  font-weight: 800;
  font-size: 25px;
  background-color: #ffffff;
  margin: 0px auto;
  max-width: 33%;
  padding: 8px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.emoji {
  font-weight: 800;
  font-size: 25px;
  margin: 0px auto;
  max-width: 33%;
  padding: 8px;
}

.upcoming-hours {
  list-style: none;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 8px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.upcoming-days {
  list-style: none;
  display: flex;
  font-size: 13px;
  justify-content: space-between;
  padding: 10px;
  background-color: #ffffff;
  margin: 0px auto;
  padding: 8px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 5px;
}

.footer {
  font-size: 10px;
  margin: 15px auto;
  max-width: 500px;
  color: black;
  padding: 0px;
  text-align: center;
}

a {
  color: #07325f;
}
